.stock-product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stock-product__content button {
  flex: 0 0 100px;
  margin-left: 30px;
}

.stock-product__content app-stock-counter {
  flex: 0 0 50px;
  margin-left: 30px;
}

.stock-product__name {
  flex: 1 0;
}
